@font-face {
    font-family: norseBold;
    src: url(/fonts/Norse-Bold.otf);
}
:root{
     --blueColor : #047f7f;
}

body {
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
}
.container {
    display: flex;
    min-height: 100vh;
    background-color: rgb(231, 245, 243);
}

.left {
    background-image: url('/images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    
}
.right{
    align-self: center;
}

.logo{
    margin-top: 200px;
    padding: 10px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.436);
    margin-bottom: auto;
}
.logo > h1 {
    font-family: norseBold;
    font-size: 70px;
    padding: 0px;
    margin: 0px;
}

.logo-img {
    width: 90px;
}
.heading{
    padding: 40px;
}

.photo-credit{
    color: white;
    text-align: center;
    padding: 10px;
}
.photo-credit > a {
    color: white;
    text-decoration: underline;
}

.form-container {
    background-color: white;  
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.353);
    padding: 40px;
    margin-bottom: 20px;
}

.submit-btn, .log-in-para {
    margin-left: 40px;
}

input{
    outline: none;
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.537);;
    min-height: 30px;
    margin-top: 2px;
    margin-bottom: 20px;
    font-size: medium;
    border-radius: 4px;

}
input:focus {
    outline: none;
    border-color: blue !important;
    box-shadow: 0px 1px 4px rgba(128, 128, 128, 0.541);
 
}

input::placeholder{
    color: rgba(128, 128, 128, 0.605);
}

.form-entry {
    display: flex;
    flex-direction: column;
    width: 40%;
} 
.form-inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-right: 10px;
}

.error-msg {
    margin-bottom: 15px;
    color: red;
    font-size: small;
}

.submit-btn {
    color: white;
    background-color: var(--blueColor);
    font-size: medium;
    font-weight: bold;
    padding: 12px 35px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px 4px gray;
}
.submit-btn:hover {
    background-color: rgb(9, 145, 145);
}
.submit-btn:active {
    background-color: rgb(25, 96, 124);
}

.login-link {
    color: var(--blueColor);
    text-decoration: none;
}

input[type='password']{
    margin-bottom: 2px;
}

input[type='password']:invalid{
    border: 1px solid rgb(210, 40, 40);
}


input:valid{
    border: 1px solid rgb(3, 153, 3);
}

@media screen and (max-width:700px){
    .form-entry {
        width: max(50%, 250px);
    }
}